<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset = "UTF-8">
    <meta name = "viewport" content="width=device-width, initial-scale=1.0">
    <meta name = "description" content = "Check the latest news thanks to the NEWS App created using NEWS API">
    <meta name = "keywords" content = "NEWS new app latest world">
    <title>NEWS App</title>
    <link rel = "stylesheet" href = "/styles/main.css">
    <link rel = "stylesheet" href = "/styles/partials.css">
</head>

<body>
    
    <div class = "header-container">
        
        <div class = "title">NEWS App</div>

        <header>

            <nav>
             
                <div class = "filters-menu">

                    <form action = "/filter" method = "post">

                        <div class = "query">
                            <label for = "query">Search</label>
                            <input 
                                name="query" 
                                id="query" 
                                type="text" 
                                <% if (locals.filters) { %>
                                    value="<%= filters.q %>"
                                <% } %>
                                required
                                >
                        </div>

                        <div class = "amount">
                            <label for = "pages">Pages</label>
                            <input 
                                name = "pages" 
                                id = "pages" 
                                class = "pages" 
                                type = "number" 
                                min = '1' 
                                max = '100' 
                                <% if (locals.filters) { %>
                                    value="<%= filters.pageSize %>"
                                <% }else{ %>
                                    value = '1'
                                <% } %>
                                required>
                        </div>

                        <div class = "end-point">
                            <label for = "type">Show</label>
                            <select name = "type" id = "type" class = "type">
                                <option 
                                    value = "all" 
                                    <% if (!locals.filters || locals.filters.type == "all") { %>
                                        selected
                                    <% } %>
                                    >
                                    all</option>
                                <option 
                                    value = "top"
                                    <% if (locals.filters && locals.filters.type == "top") { %>
                                        selected
                                    <% } %>
                                    >
                                    top headlines</option>
                            </select>
                        </div>

                        <ul class = "filters">
                            
                        </ul>

                        <input type = "submit" value = "Search">

                    </form>
                </div>
            </nav> 

        </header>

    </div>

    <script src = "/scripts/filters.js"></script>

   