<%- include("partials/header") %>

    
    <div class = "main-container">
        <main> 
            <% if(!locals.news){ %>
                Lorem ipsum dolor sit amet consectetur, adipisicing elit. Neque ipsam et dolorum architecto, eius eligendi unde cupiditate error esse fugiat! Officiis quas, facere minus earum rerum similique illum veritatis odio.
            <% }else{ %>
                <% for(element of news){ %>
                    <%= element.description %>
                        <br/>
                    <a href = <%= element.url %> > source </a>
                        <br/> <br/>
                <% } %>
            <% } %>
        </main>
    </div>
    

<%- include("partials/footer") %>